body {
    margin: 0;
}

.header, .hero, .footer {
    padding: 8px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.header a {
    text-decoration: none;
}

.header a, .hero-left p {
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-left, .hero-right {
    flex: 1;
}

.hero-left h3 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.hero-left p {
    margin: 0;
}

.hero-left button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 4px 16px;
    margin: 8px 0;
}

.hero-right {
    text-align: right;
}